body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.nav-link {
    line-height: 28px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav-link:hover{
    color: #FA4A0C;

} 

.header-flex {
    padding: 20px 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;

}
.nav-el {
    margin-right: 100px;
}

.app {
    background-image: url('../img/bg-1.png');
    text-align: center;
    color: #FFFFFF;
    padding: 80px 0 160px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.app-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px; 
}
.app-title {
    font-weight: bold;
    font-size: 58px;
    line-height: 80px;
    max-width: 800px;
    margin: 10px auto;
}

.app-about {
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 50px;
}

.button {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    width: 236px;
    height: 70px;
    color: white;
    border-radius: 30px;
}

.button-container > .button:first-of-type {
    background: orangered;
    border: none;
    margin-right: 33px;

}

.button-container > .button:last-of-type {    
    font-size: 40px;
    line-height: 57px;
    background: none;
    border: 1px solid white;
}

/* Section order */

.order {
    background-image: url(../img/bg-2.png);
    text-align: center;
    color: #FFFFFF;
    padding: 130px 0 130px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;   

}

.order-text {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    margin-bottom: 10px;
}

.order-about {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 50px;
}
.button-order {
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: white;
}
.button-container-order > .button-order:first-of-type {
    background: orangered;
    border: none;
    width: 142px;
    height: 64px;
    border-radius: 10px;
    margin-right: 16px;
}

.button-container-order > .button-order:last-of-type {
    background: none;
    border: 1px solid white;
    width: 173px;
    height: 60px;
    border-radius: 10px;
}

.footer-flex {
    margin: 110px 0 55px 205px;
    display: flex; 
    justify-content: space-between;
    align-items: center; 
}
.date {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #5C5C5C;
    margin-right: 160px;

}

.mobile-title {
    text-align: center;
    font-weight: bold;
    font-size: 44px;
    line-height: 36px;
    margin: 70px 0;
}
.mobile-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-flex_pretitle {
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #FA4A0C;
}
.mobile-flex_title {
    font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    max-width: 560px;
    margin: 7px 0;
}
.mobile-flex_text {
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    color: #737373;
    max-width: 460px;
}
.container-mobile {
    padding: 100px 0 ;
}